body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.navbar{
  display: flex;
  flex-direction: row;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  /*display: inline-block;*/
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.courses{
  display: grid;
  justify-content: 'center';
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px 15px;
  padding: 5px;
}

.create-course{
  display: flex;
  flex-flow: row wrap;
}

.single-lecture{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

.lecture-notes {
  display: flex;
  flex-direction: column;
}

.note-time {
  display: flex;
  flex-direction: row;
}

.note-padding {
  padding-left: 10px
}

.notes{
  display: flex;
  flex-direction: row;
}

.gallery {
  display: grid;
  justify-content: 'center';
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px 15px;
  padding: 5px;
}

.logo-style {
  text-align: center;
  vertical-align: center;
}

.logo-title {
  font-weight: bold;
  font-size: 35px;
  position: relative;
  color: greenyellow
}

.logged-in-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.logout-button {
  margin-left: 10px;
}
