body {
  font-family: sans-serif;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 2em;
  line-height: 1em;
}
.inset-text {
  /* Shadows are visible under slightly transparent text color */
  color: blue;
  text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.navbar{
  display: flex;
  flex-direction: row;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  /*display: inline-block;*/
}

input,
textarea {
	display: block;
	width: 100%;
	border: 0;
	padding: 10px 5px;
  background: white no-repeat;

	/*
	* IMPORTANT PART HERE
	*/

  /* 2 imgs : 1px gray line (normal state) AND 2px green line (focus state) */
	background-image: linear-gradient(to bottom, #1abc9c, #1abc9c), linear-gradient(to bottom, silver, silver);
	/* sizes for the 2 images (default state) */
	background-size: 0 2px, 100% 1px;
	/* positions for the 2 images. Change both "50%" to "0%" or "100%" and tri again */
	background-position: 50% 100%, 50% 100%;

	/* animation solely on background-size */
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

}

input:focus,
textarea:focus{
  /* sizes for the 2 images (focus state) */
	background-size: 100% 2px, 100% 1px;
	outline: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.courses{
  display: grid;
  justify-content: 'center';
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px 15px;
  padding: 5px;
}

.create-course{
  display: flex;
  flex-flow: row wrap;
}

.single-lecture{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

.lecture-notes {
  display: flex;
  flex-direction: column;
}

.note-time {
  display: flex;
  flex-direction: column;
}

.note-padding {
  padding-left: 10px
}

.notes{
  display: flex;
  flex-direction: column;
}

.gallery {
  display: grid;
  justify-content: 'center';
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px 15px;
  padding: 5px;
}

.logo-style {
  text-align: center;
  vertical-align: center;
}

.logo-title {
  font-weight: bold;
  font-size: 35px;
  position: relative;
  color: lightblue;
}

.logged-in-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logout-button {
  margin-left: 10px;
}

.lecture-row{
  display: flex;
  flex-direction: row;
}

.row-scroll {
  position:absolute;
  top:52px;
  bottom:0;
  left:0;
  overflow-y:scroll;
}
